.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
  margin: 0px;
  padding: 0px;
  color: white;
  /* background-color: rgb(255, 236, 169, 0.4); */
}

.menu-category {
  flex: 1;
  font-size: 2em;
  font-weight: bolder;
  text-transform: uppercase;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-item > * {
  padding: 0px;
  margin: 0px;
}

.menu-item > h1 {
  flex: 1;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
}

.menu-item > h2 {
  flex: 1;
  font-size: 1.25em;
  font-weight: bolder;
}

.menu-item > h2:before {
  content: "~ ";
}

.menu-item > h2:after {
  content: " ~";
}

.menu-item > p {
  flex: 1;
  font-size: 1.2em;
  padding-top: 10px;
  max-width: 80%;
  text-align: center;
}
