@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville:ital@1&display=swap");

html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/restaurant-floor.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "EB Garamond", serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}

.content-title {
  flex: 0 1 80%;
  font-size: 1.8em;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.content-logo {
  width: 200px;
}

.content-text {
  flex: 0 1 80%;
  width: 80%;
}

.menu-img {
  width: 100%;
  padding: 2px;
  margin: 5px;
  background-color: black;
}
