/*@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville:ital@1&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Lato&display=swap");

body {
  padding: 0px;
  margin: 0px;

  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}
