/* base */

body {
  font-family: futura;
  background: #cecece;
}
.logo {
  font-size: 3em;
  text-align: center;
  padding: 10px;
}
.container {
  display: flex;
  justify-content: center;
}

.calc {
  flex: 0 0 300px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  background: #383841;
  color: #ffffff;
}

.calc-row {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0 5px 0;
}

.calc-header {
  margin: 0px 30px 0px 30px;
  justify-content: flex-start;
  align-items: center;
  color: rgb(116, 116, 116);
}

.calc-header > img {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

.calc-readout {
  width: 210px;
  text-align: right;
  border: 1px solid #000000;
  background: #6cb16c;
  opacity: 0.75;
  font-size: 1.5em;
  margin: 0px 30px 15px 30px;
  padding: 10px;
}
.calc-button {
  flex: 0 0 50px;
  height: 50px;
  border: 1px solid rgb(116, 116, 116);
  background: rgb(116, 116, 116);
  color: #ffffff;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bolder;
  margin: 0 5px 0 5px;
  padding: 0px;
}

.calc-button:hover {
  border: 1px solid #ffffff;
}

.clicked {
  color: rgb(56, 58, 145);
}

.operator {
  background: rgb(56, 58, 145);
}

.special {
  background: #2e2e2e;
}

.zero {
  flex: 0 0 110px;
}
