.edit-task {
  flex: 1;
  padding: 0px;
  padding-top: 130px;
  padding-bottom: 100px;
  margin: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;

  .edit-task-content {
    flex: 1;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: left;

    label {
      font-size: 1.1em;
      font-weight: bolder;
      margin-bottom: 5px;
    }

    input[type="text"],
    select,
    button,
    textarea {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      font-family: "Lato", sans-serif;
      font-size: 1em;

      padding: 5px;
      margin-bottom: 5px;

      width: 100%;
      display: inline-block;
      box-sizing: border-box;
      resize: none;
      outline: none;
      border: 1px solid rgba(112, 112, 112, 1);
    }

    select {
      height: 40px;
      background-image: url("../../images/down_arrow.svg");
      /*background-color: #8d4cb5;
      color: #fff;*/
      background-size: 30px 30px;
      background-position: 98% top;
      background-repeat: no-repeat;
    }

    .button-box {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    button {
      flex: 0 1 50%;
      color: #fff;
      margin-top: 10px;
    }
    button:first-of-type {
      margin-right: 5px;
      background-color: #584cb5;
    }
    button:last-of-type {
      margin-left: 5px;
      background-color: #8d4cb5;
    }
  }
}
