<!-- inspiration: https://medium.com/@mjadav/simple-slider-for-your-web-page-50115fbebc61-->
<html>
  <head>
    <style>
      .image-container {
        display: flex;
        width: 100%;
        flex-flow: row nowrap;
        align-items: stretch;
        overflow: hidden;
      }
      .image-slider {
        transition: transform 1s ease-in-out;
        white-space: nowrap;
        margin: 0;
        padding: 0;
      }
      .image-slider-item {
        display: inline-block;
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="image-container">
      <div class="image-slider">
        <img
          class="image-slider-item"
          src="https://farm6.staticflickr.com/5682/32485550974_a17009c6a1_b.jpg"
        />
        <img
          class="image-slider-item"
          src="https://farm3.staticflickr.com/2813/13229959125_ca374e42ce_b.jpg"
        />
        <img
          class="image-slider-item"
          src="https://farm5.staticflickr.com/4230/35641415276_ed8617f4c9_b.jpg"
        />
      </div>
    </div>

    <script type="text/javascript">
      let imagePosition = 0;
      const sliderItems = document.querySelectorAll(".image-slider-item");
      const slider = document.querySelector(".image-slider");
      const totalImageItems = sliderItems.length;

      const setImageSliderTransform = () => {
        console.log(imagePosition);
        const itemWidth = sliderItems[0].offsetWidth;
        let imageOffset = -imagePosition * itemWidth - imagePosition * 3;
        slider.style["transform"] = `translate3d(${imageOffset}px,0,0)`;
      };

      function prevSlide() {
        imagePosition = Math.max(imagePosition - 1, 0);
        setImageSliderTransform();
      }

      function nextSlide() {
        imagePosition = Math.min(imagePosition + 1, totalImageItems - 1);
        setImageSliderTransform();
      }
    </script>
  </body>
</html>
