.image-container {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow: hidden;
}

.image-slider {
  transition: transform 1s ease-in-out;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.image-slider-item {
  display: inline-block;
  background-size: cover;
  width: 100%;
  height: 100%;
}
